body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7f7f7;
}

header {
  background: #ffffff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-circle {
  width: 40px;
  height: 40px;
  background: #f2b60f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
}

nav a {
  margin-left: 15px;
  text-decoration: none;
  color: #444;
  font-size: 14px;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
  align-items: center;
}

.hero-text {
  flex: 1;
  padding: 20px;
}

.hero-text h1 {
  font-size: 32px;
  font-weight: bold;
}

.hero-text p {
  margin-top: 10px;
  color: #555;
}

.hero-text button {
  margin-top: 20px;
  padding: 10px 18px;
  border: none;
  background: #f2b60f;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
}

.hero-img {
  flex: 1;
  padding: 4px;
}

.hero-img img {
  width: 100%;
  border-radius: 10px;
}

.section-title {
  text-align: center;
  font-size: 24px;
  margin-top: 40px;
  font-weight: bold;
}

.categories {
  text-align: center;
  margin: 20px;
}

.categories button {
  margin: 5px;
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  background: #ddd;
  cursor: pointer;
}

.products {
  max-width: 1100px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.product {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.product h3 {
  margin: 10px 0 5px;
}

.product .cat {
  font-size: 12px;
  color: #777;
}

.product .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.product .bottom button {
  padding: 6px 12px;
  border: 1px solid #444;
  background: none;
  cursor: pointer;
  border-radius: 5px;
}

.about-box {
  max-width: 900px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.kontakt-box {
  max-width: 900px;
  margin: 40px auto;
  background: white;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
footer {
  background: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #ddd;
}